<style type="text/css">
input {color: black};
</style>

<div class="container-fluid bg-3 text-center"><br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
<div class="row">
  <div class="col-lg-12"><br>&nbsp;</div>
    <div class="col-lg-3"></div>
    <div class="col-lg-8">
  <div class="col-lg-8" style="border-width: 5px; border-style: solid; border-color: #23527c"><br>
    <h1>Serious Face Application<br>&nbsp;</h1>
  </div>
	  <div class="col-lg-8 formBound" style="border-width: 5px; border-style: solid; border-color: #23527c"><br>&nbsp;
  <form action="/apply/submit" method="post" name="SF Application" id="form1">
	<p>Character Name &nbsp;
<input type="text" class="form" name="charactername">
&nbsp; &nbsp; Character Realm &nbsp;
<!-- Probably a better way to do this -->
<input type="text" class="awesomplete" data-list="Aegwynn [CR],Aerie Peak,Agamaggan [CR],Aggramar [CR],Akama [CR],Alexstrasza [CR],Alleria [CR],Altar of Storms [CR],Alterac Mountains [CR],Aman'Thul,Andorhal [CR],Anetheron [CR],Antonidas [CR],Anub'arak [CR],Anvilmar [CR],Arathor [CR],Archimonde [CR],Area 52,Argent Dawn [CR],Arthas,Arygos [CR],Auchindoun [CR],Azgalor [CR],Azjol-Nerub [CR],Azralon,Azshara [CR],Azuremyst [CR],Baelgun [CR],Balnazzar [CR],Barthilas,Black Dragonflight [CR],Blackhand [CR],Blackrock,Blackwater Raiders [CR],Blackwing Lair [CR],Blade's Edge [CR],Bladefist [CR],Bleeding Hollow,Blood Furnace [CR],Bloodhoof [CR],Bloodscalp [CR],Bonechewer [CR],Borean Tundra [CR],Boulderfist [CR],Bronzebeard [CR],Burning Blade [CR],Burning Legion [CR],Caelestrasz [CR],Cairne [CR],Cenarion Circle [CR],Cenarius,Cho'gall [CR],Chromaggus [CR],Coilfang [CR],Crushridge [CR],Daggerspine [CR],Dalaran,Dalvengyr [CR],Dark Iron [CR],Darkspear,Darrowmere [CR],Dath'Remar [CR],Dawnbringer [CR],Deathwing [CR],Demon Soul [CR],Dentarg [CR],Destromath [CR],Dethecus [CR],Detheroc [CR],Doomhammer [CR],Draenor [CR],Dragonblight [CR],Dragonmaw [CR],Drak'Tharon [CR],Drak'thul [CR],Draka [CR],Drakkari,Dreadmaul [CR],Drenden [CR],Dunemaul [CR],Durotan [CR],Duskwood [CR],Earthen Ring,Echo Isles [CR],Eitrigg [CR],Eldre'Thalas [CR],Elune [CR],Emerald Dream,Eonar [CR],Eredar [CR],Executus [CR],Exodar [CR],Farstriders [CR],Feathermoon [CR],Fenris [CR],Firetree [CR],Fizzcrank [CR],Frostmane [CR],Frostmourne,Frostwolf [CR],Galakrond [CR],Gallywix,Garithos [CR],Garona,Garrosh,Ghostlands [CR],Gilneas [CR],Gnomeregan [CR],Goldrinn,Gorefiend [CR],Gorgonnash [CR],Greymane [CR],Grizzly Hills [CR],Gul'dan [CR],Gundrak [CR],Gurubashi [CR],Hakkar [CR],Haomarush [CR],Hellscream [CR],Hydraxis [CR],Hyjal,Icecrown [CR],Illidan,Jaedenar [CR],Jubei'Thos [CR],Kael'thas [CR],Kalecgos [CR],Kargath [CR],Kel'Thuzad,Khadgar [CR],Khaz Modan [CR],Khaz'goroth [CR],Kil'jaeden,Kilrogg [CR],Kirin Tor [CR],Korgath,Korialstrasz [CR],Kul Tiras [CR],Laughing Skull [CR],Lethon [CR],Lightbringer,Lightning's Blade [CR],Lightninghoof [CR],Llane [CR],Lothar [CR],Madoran [CR],Maelstrom [CR],Magtheridon [CR],Maiev [CR],Mal'Ganis,Malfurion [CR],Malorne [CR],Malygos [CR],Mannoroth [CR],Medivh [CR],Misha [CR],Mok'Nathal [CR],Moon Guard,Moonrunner [CR],Mug'thol [CR],Muradin [CR],Nagrand [CR],Nathrezim [CR],Nazgrel [CR],Nazjatar [CR],Nemesis,Ner'zhul [CR],Nesingwary [CR],Nordrassil [CR],Norgannon [CR],Onyxia [CR],Perenolde [CR],Proudmoore,Quel'dorei [CR],Quel'Thalas,Ragnaros,Ravencrest [CR],Ravenholdt [CR],Rexxar [CR],Rivendare [CR],Runetotem [CR],Sargeras,Saurfang,Scarlet Crusade [CR],Scilla [CR],Sen'jin [CR],Sentinels [CR],Shadow Council [CR],Shadowmoon [CR],Shadowsong [CR],Shandris [CR],Shattered Halls [CR],Shattered Hand [CR],Shu'halo [CR],Silver Hand [CR],Silvermoon [CR],Sisters of Elune [CR],Skullcrusher [CR],Skywall [CR],Smolderthorn [CR],Spinebreaker [CR],Spirestone [CR],Staghelm [CR],Steamwheedle Cartel [CR],Stonemaul [CR],Stormrage,Stormreaver,Stormscale [CR],Suramar [CR],Tanaris [CR],Terenas [CR],Terokkar [CR],Thaurissan [CR],The Forgotten Coast [CR],The Scryers [CR],The Underbog [CR],The Venture Co [CR],Thorium Brotherhood [CR],Thrall,Thunderhorn [CR],Thunderlord [CR],Tichondrius,Tol Barad,Tortheldrin [CR],Trollbane [CR],Turalyon,Twisting Nether [CR],Uldaman [CR],Uldum [CR],Undermine [CR],Ursin [CR],Uther [CR],Vashj [CR],Vek'nilash [CR],Velen [CR],Warsong [CR],Whisperwind [CR],Wildhammer [CR],Windrunner [CR],Winterhoof [CR],Wyrmrest Accord,Xavius [CR],Ysera [CR],Ysondre [CR],Zangarmarsh [CR],Zul'jin,Zuluhed [CR]" name="characterrealm"></p><br>&nbsp;
 <p>Raid Experience &nbsp;
<input type="text" class="form" name="raidexperience">
&nbsp; &nbsp; &nbsp;Preferred Role &nbsp; &nbsp;
<input type="text" class="form" name="preferredrole"></p><br>&nbsp;
 <p>Why do you want to join Serious Face? 
<input type="text" class="form" name="whyjoin"></p><br>&nbsp;	
 <button type="submit" class="btn btn-sm btn-primary">Submit </button>
 <br>&nbsp;
  </form></div>
  </div>
  <div class="col-lg-12"><br>&nbsp;</div>
	<div class="col-lg-12"><br>&nbsp;</div>
</div><br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
	</div>

