<div class="container-fluid bg-3 text-center"><br>&nbsp;<br>&nbsp;
<div class="row">
  <div class="col-lg-12 text-center"><br>
    <p class="text-center">We started our guild in the begining of Legion with the goals of progressing raid content on a 2 day schedule while having fun. <br>
      <br>
      Our raid schedule is Tues./Thurs. 6pm - 9pm PST. We are currently looking for like minded players to join our raid roster and community of friends!</p>
    &nbsp;</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
  <div class="col-lg-10" style="border-width: 5px; border-style: solid; border-color: #23527c"><br>
    <h1>Serious Face Application<br>&nbsp;</h1>
  </div>
	  <div class="col-lg-10 formBound" style="border-width: 5px; border-style: solid; border-color: #23527c"><br>&nbsp;
  <form action="/apply/submit" method="post" name="SF Application" id="form1">
	<p>What's your RealID or Battle Tag? &nbsp;
<input type="text" class="form" name="RealID">
&nbsp; &nbsp; Warcraftlogs link &nbsp;(mythic preferred but not required) &nbsp;
<input type="text" class="form" name="WarcraftLogs"></p><br>&nbsp;
 <p>Raiding background from last expansion you played &nbsp;
<input type="text" class="form" name="RaidingExp">
&nbsp; &nbsp; &nbsp;What is the most important feature of a sucessful guild? &nbsp; &nbsp;
<input type="text" class="form" name="SucessfulFeature"></p><br>&nbsp;
 <p>If you could have one skill from your WoW Character in real life what would it be and why? &nbsp;
<input type="text" class="form" name="CharacterSkill"></p><br>&nbsp;	
 <button type="submit" class="btn btn-sm btn-primary">Submit </button>
 <br>&nbsp;
  </form></div>
  </div>
  <div class="col-lg-12"><br>&nbsp;</div>
	<div class="col-lg-12"><br>&nbsp;</div>
</div><br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
	</div>
