<header>
<div class="container">
  <div class="row">
   <p class="text-center">We started our guild in the begining of Legion with the goals of progressing raid content on a 2 day schedule while having fun. <br>
      <br>
      Our raid schedule is Tues./Thurs. 6pm - 9pm PST. We are currently looking for like minded players to join our raid roster and community of friends!</p>
    </div>
    <div class="col-lg-offset-1 col-xs-12 col-lg-10">
      <div class="jumbotron">
        <div class="row text-center">
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-width: 5px; border-style: solid; border-color: #337ab7">
            <h2>Serious Face Application</h2>
          </div>
          <div class="text-center col-lg-12" style="border-width: 5px; border-style: solid; border-color: #337ab7"> 
            <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
            <form id="feedbackForm" class="text-center" action="apply/submit" method="post">
              <div class="form-group" style="margin-top: 10px;">
                <label for="name">What's your Real ID or BattleTag?</label>
                <input type="text" class="form-control" id="name" name="RealID" placeholder="Real ID/BattleTag">
                <span class="help-block" style="display: none;">Please enter your Real ID or BattleTag.</span></div>
              <div class="form-group">
                <label for="logs">Warcraftlogs link (mythic preferred but not required)</label>
                <input type="url" class="form-control" id="logs" name="WarcraftLogs" placeholder="Warcraftlogs link">
                <span class="help-block" style="display: none;">Please enter your Warcraft logs link.</span></div>
              <div class="form-group">
                <label for="background">Raiding background from the last expansion you played</label>
                <textarea rows="10" cols="100" class="form-control" id="background" name="RaidingExp" placeholder="Raiding background"></textarea>
                <span class="help-block" style="display: none;">Please enter your raiding background.</span></div>
              <div class="form-group">
                <label for="feature">What is the most important feature of a successful guild?</label>
                <textarea rows="10" cols="100" class="form-control" id="feature" name="SucessfulFeature" placeholder="Important feature"></textarea>
                <span class="help-block" style="display: none;">Please enter an important feature.</span></div>
              <div class="form-group">
                <label for="skill">If you could have one skill from your WoW Character in real life what would it be and why?</label>
                <textarea rows="10" cols="100" class="form-control" id="skill" name="CharacterSkill" placeholder="WoW charater skill"></textarea>
                <span class="help-block" style="display: none;">Please enter a skill.</span></div>  
              <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg" style="margin-top: 10px; margin-bottom: 10px;">Send</button>
            </form>
            <!-- END CONTACT FORM --> 
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
