<style type="text/css">
input {color: black};
</style>

<div class="container-fluid bg-3 text-center"><br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
<div class="row">
  <div class="col-lg-12"><br>&nbsp;</div>
    <div class="col-lg-3"></div>
    <div class="col-lg-8">
  <div class="col-lg-8" style="border-width: 5px; border-style: solid; border-color: #23527c"><br>
    <h1>Serious Face Application<br>&nbsp;</h1>
  </div>
	  <div class="col-lg-8 formBound" style="border-width: 5px; border-style: solid; border-color: #23527c"><br>&nbsp;
  <form action="/apply/submit" method="post" name="SF Application" id="form1">
	<p>Character Name &nbsp;
<input type="text" class="form" name="charactername">
&nbsp; &nbsp; Character Realm &nbsp;
<!-- Probably a better way to do this -->
<input type="text" class="awesomplete" data-list="Aegwynn,Aerie Peak,Agamaggan,Aggramar,Akama,Alexstrasza,Alleria,Altar of Storms,Alterac Mountains,Aman'Thul,Andorhal,Anetheron,Antonidas,Anub'arak,Anvilmar,Arathor,Archimonde,Area 52,Argent Dawn,Arthas,Arygos,Auchindoun,Azgalor,Azjol-Nerub,Azralon,Azshara,Azuremyst,Baelgun,Balnazzar,Barthilas,Black Dragonflight,Blackhand,Blackrock,Blackwater Raiders,Blackwing Lair,Blade's Edge,Bladefist,Bleeding Hollow,Blood Furnace,Bloodhoof,Bloodscalp,Bonechewer,Borean Tundra,Boulderfist,Bronzebeard,Burning Blade,Burning Legion,Caelestrasz,Cairne,Cenarion Circle,Cenarius,Cho'gall,Chromaggus,Coilfang,Crushridge,Daggerspine,Dalaran,Dalvengyr,Dark Iron,Darkspear,Darrowmere,Dath'Remar,Dawnbringer,Deathwing,Demon Soul,Dentarg,Destromath,Dethecus,Detheroc,Doomhammer,Draenor,Dragonblight,Dragonmaw,Drak'Tharon,Drak'thul,Draka,Drakkari,Dreadmaul,Drenden,Dunemaul,Durotan,Duskwood,Earthen Ring,Echo Isles,Eitrigg,Eldre'Thalas,Elune,Emerald Dream,Eonar,Eredar,Executus,Exodar,Farstriders,Feathermoon,Fenris,Firetree,Fizzcrank,Frostmane,Frostmourne,Frostwolf,Galakrond,Gallywix,Garithos,Garona,Garrosh,Ghostlands,Gilneas,Gnomeregan,Goldrinn,Gorefiend,Gorgonnash,Greymane,Grizzly Hills,Gul'dan,Gundrak,Gurubashi,Hakkar,Haomarush,Hellscream,Hydraxis,Hyjal,Icecrown,Illidan,Jaedenar,Jubei'Thos,Kael'thas,Kalecgos,Kargath,Kel'Thuzad,Khadgar,Khaz Modan,Khaz'goroth,Kil'jaeden,Kilrogg,Kirin Tor,Korgath,Korialstrasz,Kul Tiras,Laughing Skull,Lethon,Lightbringer,Lightning's Blade,Lightninghoof,Llane,Lothar,Madoran,Maelstrom,Magtheridon,Maiev,Mal'Ganis,Malfurion,Malorne,Malygos,Mannoroth,Medivh,Misha,Mok'Nathal,Moon Guard,Moonrunner,Mug'thol,Muradin,Nagrand,Nathrezim,Nazgrel,Nazjatar,Nemesis,Ner'zhul,Nesingwary,Nordrassil,Norgannon,Onyxia,Perenolde,Proudmoore,Quel'dorei,Quel'Thalas,Ragnaros,Ravencrest,Ravenholdt,Rexxar,Rivendare,Runetotem,Sargeras,Saurfang,Scarlet Crusade,Scilla,Sen'jin,Sentinels,Shadow Council,Shadowmoon,Shadowsong,Shandris,Shattered Halls,Shattered Hand,Shu'halo,Silver Hand,Silvermoon,Sisters of Elune,Skullcrusher,Skywall,Smolderthorn,Spinebreaker,Spirestone,Staghelm,Steamwheedle Cartel,Stonemaul,Stormrage,Stormreaver,Stormscale,Suramar,Tanaris,Terenas,Terokkar,Thaurissan,The Forgotten Coast,The Scryers,The Underbog,The Venture Co,Thorium Brotherhood,Thrall,Thunderhorn,Thunderlord,Tichondrius,Tol Barad,Tortheldrin,Trollbane,Turalyon,Twisting Nether,Uldaman,Uldum,Undermine,Ursin,Uther,Vashj,Vek'nilash,Velen,Warsong,Whisperwind,Wildhammer,Windrunner,Winterhoof,Wyrmrest Accord,Xavius,Ysera,Ysondre,Zangarmarsh,Zul'jin,Zuluhed" name="characterrealm"></p><br>&nbsp;
 <p>Raid Experience &nbsp;
<input type="text" class="form" name="raidexperience">
&nbsp; &nbsp; &nbsp;Preferred Role &nbsp; &nbsp;
<input type="text" class="form" name="preferredrole"></p><br>&nbsp;
 <p>Why do you want to join Serious Face? 
<input type="text" class="form" name="whyjoin"></p><br>&nbsp;	
 <button type="submit" class="btn btn-sm btn-primary">Submit </button>
 <br>&nbsp;
  </form></div>
  </div>
  <div class="col-lg-12"><br>&nbsp;</div>
	<div class="col-lg-12"><br>&nbsp;</div>
</div><br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
	</div>

