<div class="outer">


  <div class="jumbotron">
    <div class="container text-center">

      <br>&nbsp;
      <img src="images/SF.png" alt="logo" height="500">
      <br>&nbsp;
      <h2>words</h2>
      <p>Some text</p>
      <br>&nbsp;
      <br>&nbsp;

	</div>
	</div>
  

  <div class="container-fluid-bkgd bg-3 text-center">
    <div class="row">
    <div class="col-lg-12"><br>&nbsp;</div>
        <div class="col-lg-12"><br>&nbsp;</div>

	  <div class="col-sm-2"></div>
      <div class="col-sm-3">
        <img src="https://placehold.it/150x80?text=IMAGE" alt="Image" class="img-responsive" style="width:300px; height:300px">
		</div>
      <div class="col-sm-3">
        <img src="https://placehold.it/150x80?text=IMAGE" alt="Image" class="img-responsive" style="width:300px; height:300px">
      </div>
      <div class="col-sm-3">
        <img src="https://placehold.it/150x80?text=IMAGE" alt="Image"class="img-responsive" style="width:300px; height:300px">
      </div>
		    <div class="col-lg-12"><br>&nbsp;</div>
		        <div class="col-lg-12"><br>&nbsp;</div>


		</div>
	
</div>
    </div>

<div>