<header>
<div class="container-fluid bg-3 text-center">
	<div class="row">
    	<div class="row stream-tiles-block">
    		<div class="col-md-12">
    			<div>
    			<h2 class="centered">Serious Face Streams</h2>
				</div>
<div class="col-lg-12 text-center jumbotron">
    				<div class="col-lg-4 col-md-6 col-md-6">
						<div class="stream-tile home-stream-tile stream-live">
							<a class="stream-link-wrap" href="https://www.twitch.tv/innovationsf" target="_blank">
							<img class="stream-image img-responsive" src="images/wow_ss_small.jpg" alt="World of Warcraft thumbnail">
							</a>
							<a class="streamer-info" href="https://www.twitch.tv/innovationsf" target="_blank">
							<div class="stream-info-text">
							<span class="streamer-name"> Innovation</span>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-md-6">
						<div class="stream-tile home-stream-tile stream-live">
							<a class="stream-link-wrap" href="https://www.twitch.tv/innovationsf" target="_blank">
							<img class="stream-image img-responsive" src="images/wow_ss_small.jpg" alt="World of Warcraft thumbnail">
							</a>
							<a class="streamer-info" href="https://www.twitch.tv/innovationsf" target="_blank">
							<div class="stream-info-text">
							<span class="streamer-name"> Innovation</span>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-md-6">
						<div class="stream-tile home-stream-tile stream-live">
							<a class="stream-link-wrap" href="https://www.twitch.tv/innovationsf" target="_blank">
							<img class="stream-image img-responsive" src="images/wow_ss_small.jpg" alt="World of Warcraft thumbnail">
							</a>
							<a class="streamer-info" href="https://www.twitch.tv/innovationsf" target="_blank">
							<div class="stream-info-text">
							<span class="streamer-name"> Innovation</span>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-md-6">
						<div class="stream-tile home-stream-tile stream-live">
							<a class="stream-link-wrap" href="https://www.twitch.tv/innovationsf" target="_blank">
							<img class="stream-image img-responsive" src="images/wow_ss_small.jpg" alt="World of Warcraft thumbnail">
							</a>
							<a class="streamer-info" href="https://www.twitch.tv/innovationsf" target="_blank">
							<div class="stream-info-text">
							<span class="streamer-name"> Innovation</span>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-md-6">
						<div class="stream-tile home-stream-tile stream-live">
							<a class="stream-link-wrap" href="https://www.twitch.tv/innovationsf" target="_blank">
							<img class="stream-image img-responsive" src="images/wow_ss_small.jpg" alt="World of Warcraft thumbnail">
							</a>
							<a class="streamer-info" href="https://www.twitch.tv/innovationsf" target="_blank">
							<div class="stream-info-text">
							<span class="streamer-name"> Innovation</span>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-md-6">
						<div class="stream-tile home-stream-tile stream-live">
							<a class="stream-link-wrap" href="https://www.twitch.tv/innovationsf" target="_blank">
							<img class="stream-image img-responsive" src="images/wow_ss_small.jpg" alt="World of Warcraft thumbnail">
							</a>
							<a class="streamer-info" href="https://www.twitch.tv/innovationsf" target="_blank">
							<div class="stream-info-text">
							<span class="streamer-name"> Innovation</span>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-md-6">
						<div class="stream-tile home-stream-tile stream-live">
							<a class="stream-link-wrap" href="https://www.twitch.tv/innovationsf" target="_blank">
							<img class="stream-image img-responsive" src="images/wow_ss_small.jpg" alt="World of Warcraft thumbnail">
							</a>
							<a class="streamer-info" href="https://www.twitch.tv/innovationsf" target="_blank">
							<div class="stream-info-text">
							<span class="streamer-name"> Innovation</span>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-md-6">
						<div class="stream-tile home-stream-tile stream-live">
							<a class="stream-link-wrap" href="https://www.twitch.tv/innovationsf" target="_blank">
							<img class="stream-image img-responsive" src="images/wow_ss_small.jpg" alt="World of Warcraft thumbnail">
							</a>
							<a class="streamer-info" href="https://www.twitch.tv/innovationsf" target="_blank">
							<div class="stream-info-text">
							<span class="streamer-name"> Innovation</span>
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-md-6">
						<div class="stream-tile home-stream-tile stream-live">
							<a class="stream-link-wrap" href="https://www.twitch.tv/innovationsf" target="_blank">
							<img class="stream-image img-responsive" src="images/wow_ss_small.jpg" alt="World of Warcraft thumbnail">
							</a>
							<a class="streamer-info" href="https://www.twitch.tv/innovationsf" target="_blank">
							<div class="stream-info-text">
							<span class="streamer-name"> Innovation</span>
							</div>
							</a>
						</div>
					</div>
</div>
			</div>
		</div>
	</div>
</div>
</header>
